@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap');

/*font-family: 'Sen', sans-serif;*/
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    transition: .5s ease-out;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/*-----[BODY]-----*/
body {
    display: flex;
    flex-direction: column;
    background: #131313;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #131313;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    /*background: linear-gradient(0deg, #2A86C9, #7938AE);*/
    background: #e6ba6a;
}

/*-----[BODY]-----*/

/*-----[HOME]-----*/
.home {
    background: url("https://media.discordapp.net/attachments/954812850352828416/1043265866537640008/unknown.png?width=1226&height=676");
    background-position: center;
    background-size: cover;
    height: 43vh;
    width: 100%;
}

.home .container {
    background: #00000040;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 43vh;
    display: flex;
}

.home .container h1 {
    margin: auto;
    color: #ffff;
    font-weight: 800;
    font-family: 'Sen', sans-serif;
    letter-spacing: 1px;
    font-size: 60px;
}
/*-----[HOME]-----*/

/*-----[UPDATES]-----*/

.updates {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

.updates .container {
    height: auto;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}

.box-update {
    background: #1f1e1ef7;
    padding: 25px;
    box-shadow: 0 10px 12px rgb(0 0 0 / 10%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.announcement-header {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,.025);
    justify-content: space-between;
}

.announcement-calendar {
    background: #ffffff11;
    width: 37px;
    margin-right: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 10px 12px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.announcement-title {
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #e6ba6a;
}

.announcement-meta {
    display: flex;
    flex-direction: row;
}

.announcement-meta li {
    list-style: none;
    text-decoration: none;
    padding: 5px;
    color: #6C7985;
}
.announcement-meta li i {font-size: .8rem;}
.announcement-meta li span a {color: #6C7985;}
.announcement-meta li span {
    font-family: 'Sen', sans-serif;
    font-size: .8rem;
    margin-left: 6px;
    margin-right: 6px;
}

.announcement-body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,.025);
    justify-content: space-between;
}

.announcement-body img {
    width: 100%;
    height: auto;
}

.announcement-body p {
    color: #a1a4a7;
    font-family: 'Sen', sans-serif;
    font-size: .9rem;
    margin: 10px;
}

.announcement-footer {
    display: flex;
    width: 100%;
}

.afooter-btn {
    font-family: 'Sen', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px 9px;
    font-weight: 700;
    color: #e6ba6a;
    background: #ffffff0d;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    display: inline-table;
    margin-left: auto;
}


/*-----[UPDATES]-----*/

/*-----[FOOTER]-----*/
.footer {
    background: #101010;
    border-top: 2px solid #171717;
    width: 100%;
    display: flex;
}

.footer .container {
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.feature {
    width: 100%;
    margin: 20px;
}

.feature h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    margin: 5px;
}

.feature p {
    color: #8b8b8b;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    margin: 5px;
}

.feature ul {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.feature ul a {
    color: #686868;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    margin: 5px;
}
.feature ul a:hover {color: #e6ba6a;}

.feature ul a i {margin-right: 5px;font-size: 1.1rem;}
.feature ul a:hover i {margin-right: 15px;color: #e6ba6a;}

#drt a {
    border-left: 3px solid #e6ba6a;
    padding: 10px 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}


.features-claim {
    text-align: center;
}

.features-claim h1 {
    color: #ffffff;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 5px;
}

.features-claim h1 a:hover {color: #e6ba6a;}
.features-claim p {
    color: #636363;
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 5px;
}
.features-claim p a:hover {color: #e6ba6a;}


#bfeature a {
    color: #e6ba6a;
    padding: 16px 20px;
    background: #ffffff0d;
    border-bottom: 3px solid #e6ba6a;
    border-radius: 6px;
    border-left: none;
    width: max-content;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8rem;
}

#bfeature a:hover i {
    color: #e6ba6a;
    margin-right: 5px;
}

#bfeature a:hover {
    background: #b4b4b407;
}
/*-----[FOOTER]-----*/

@media screen and (max-width: 1280px) {
    .head .container #hmenu {display: flex;}
    .head .container #htop, .head .container #hbottom {display: none;}
    .features-container {flex-direction: column;}.updates .container {width: 90%;}
    .announcement-calendar {margin-right: 0;}
    .afooter-btn {margin-left: auto;margin-right: auto;}
}

.head {
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.head .container {
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

#htop {
    background: #0000004d; /*1a*/
    height: 50px;
    width: 100%;
    display: flex;
}

#htop ul {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#htop ul a {
    font-family: 'Sen', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

#htop ul a:hover {background: #0000004d;}

#hbottom {
    background: #0000001a; /*1a*/
    height: 80px;
    width: 100%;
    display: flex;
}

#hbottom ul {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#hbottom ul a {
    font-family: 'Sen', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 20px 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid transparent;
}

#hbottom ul a:hover {
    background: #0000004d;
    border-bottom: 2px solid #fff;
}


#hmenu {
    display: none;
    background: #0000001a;
    height: 60px;
    width: 100%;
}

#hmenu ul {
    display: flex;
    width: 100%;
}

#hmenu ul button {
    background: transparent;
    padding: 10px 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    font-size: 1.5rem;
    border: none;
    color: #fff;
}

#hmenu ul button:hover {background: #0000004d;}

#hmenu ul a {
    font-family: 'Sen', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
    margin-left: auto;
    margin-right: 5px;
}

#hmenu ul a:hover {background: #0000004d;}


.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 300px;
    height: 100vh;
    background: #101010;
}

.sidebar .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-header {
    background: linear-gradient(90deg, #2A86C9, #7938AE);
    height: 100px;
    width: 100%;
    display: flex;
}

.sidebar-header ul {
    width: 80%;
    padding: 10px 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-header ul span {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Sen', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}

.sidebar-header ul button {
    padding: 15px 15px;
    background: transparent;
    border-radius: 6px;
    border: none;
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-body {
    height: calc(100% - 100px);
    width: 100%;
}

.sidebar-body ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.sidebar-body ul a {
    padding: 15px 20px;
    border-left: 3px solid transparent;
    font-family: 'Sen', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

.sidebar-body ul a:hover {
    border-left: 3px solid #7938AE;
}
